body {
	background: #000235;
	position: relative;
}


.content-block {
	max-width: 1240px;
	margin-left: auto;
	margin-right: auto;
}

/*stules-header*/

.header-block {
	padding-top: 43px;
}


.menu-panel {
	display: flex;
	justify-content: space-between;
	margin-bottom: 78px;
}

.menu-panel-img {
	display: flex;
	align-items: center;
}

.menu-panel-img img {

}

.menu {
	display: flex;
	align-items: center	;
	margin-left: 367px;
}


.menu ul {
	display: flex;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.menu li {

}

.menu a {
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 700;
	font-size: 17px;
	text-transform: uppercase;
	color: #FFFFFF;
	line-height: 28px;
	text-decoration: none;
	margin-left: 27px;
	margin-right: 27px;
}

.menu a:hover {
	color: #939393;
	text-decoration: underline;
}

.button-wrap {
	position: relative;
}

.button-wrap:before {
	position: absolute;
	content: '';
	left: 37px;
	top: 18px;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background: #9091DC;
}



.button {
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 28px;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 10px 33px 10px 64px;	
	background: #2D2879;
	border-radius: 60px;
}

.button:hover {
	background: no-repeat;
	border-color: #fff;
}

/*styles-discover-and*/

.discover-and {

}
.discover-and-wrap {
	display: flex;
}

.discover-block {
	margin-bottom: 143px;
}


/*discover-and-left-wrap*/

.discover-and-left-wrap {
	width: 50%;
	padding-top: 70px;
}

.discover-and-left-title {
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 700;
	font-size: 87px;
	line-height: 100%;
	text-transform: capitalize;
	color: #FFFFFF;
	max-width: 542px;
	margin-bottom: 23px;
}

.discover-and-left-text {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	color: #FFFFFF;
	max-width: 356px;
	margin-bottom: 40px;
}


.discover-and-button-wrap {

}



.discover-and-left-button {
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
	padding: 22px 52px 23px 51px;
	background: #8D8DDA;
	border-radius: 83px;
	transition: 1.3s;
}

.discover-and-left-button:hover {
	background: linear-gradient(277.91deg, #ABD9D9 0.87%, #ABD9D9 0.87%, #ABD9D9 0.88%, #5151C6 103.43%);
	border-color: #fff;
}

.discover-and-left-button-two {
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
	background: no-repeat;
	border-radius: 83px;
	border-color: #fff;
	margin-left: 10px	;
	padding: 22px 39px 23px 39px;
	transition: 1.3s;
}

.discover-and-left-button-two:hover {
	background: #fff;
	border-color: #000;
	color: #000;
}

/*discover-and-right-wrap*/

.discover-and-right-wrap {
	width: 50%;
}

.discover-and-right-wrap img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/*styles-company*/


.featured-title {
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
	max-width: 160px;
	margin-bottom: 12px;
}

.featured-company {
	display: flex;
	align-items: center;
	padding-top: 25px;
	padding-bottom: 13px;
	background: rgba(99, 88, 189, 0.19);
	border-radius: 7px;
	margin-bottom: 114px;
}

.techcrunch {
	display: flex;
	justify-content: center;
	margin-left: 10px;
	margin-right: 10px;
	width: 400px;
}

.techcrunch img {
	width: 190px;
	object-fit: cover;
}

.fast-company {
	display: flex;
	margin-left: 10px;
	margin-right: 10px;
	width: 295px;
}

.fast-company img {
	width: 180px;
}

.mit {
	display: flex;
	justify-content: center;
	margin-left: 10px;
	margin-right: 10px;
	width: 190px;
}

.mit img {
	width: 72px;
}

.forbes {
	display: flex;
	justify-content: center;
	margin-left: 10px;
	margin-right: 10px;
	width: 295px;
}

.forbes img {
	width: 121px;
}

/*styles-analytics*/

.analytics {

}
.analytics-wrap {
	display: flex;
}

.analytics-block {

}
.analytics-img img {
	width: 581px;
}

.analytics-right {
	margin-top: 18px;
	margin-left: 46px;
}

.analytics-right-title {
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #ABD9D9;
	max-width: 441px;
	margin-bottom: 16px;
}

.analytics-right-sub-title {
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 700;
	font-size: 57px;
	line-height: 100%;
	text-transform: capitalize;
	color: #FFFFFF;
	max-width: 613px;
	margin-bottom: 38px;
}

.analytics-right-text {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	color: #FFFFFF;
	max-width: 441px;
	margin-bottom: 30px;
}




.analytics-right-button {
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	padding: 22px 104px 22px 104px;
	background: #8D8DDA;
	border-radius: 83px;
	color: #fff;
	transition: 1.3s;
}

.analytics-right-button:hover {
	background: #fff;
	color: #000;
}



/*styles-get-our-app*/

.get-our-app {
	padding-bottom: 55px;
}

.get-our-app-block {

}

.get-our-app-wrap {
	display: flex;
}

.get-our-app-left {
	margin-top: 92px;
}

.get-our-app-title {
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #ABD9D9;
	max-width: 441px;
	margin-bottom: 13px;
}

.get-our-app-sub-title {
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 700;
	font-size: 57px;
	line-height: 100%;
	text-transform: capitalize;
	color: #FFFFFF;
	max-width: 613px;
	margin-bottom: 29px;
}

.get-our-app-text {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	color: #FFFFFF;
	max-width: 441px;
	margin-bottom: 18px;
}

.get-our-app-right {
	position: relative;
	top: -25px;
}

.get-our-app-img {

}


.get-our-app-img img {
	width: 601px;
	margin-left: 25px;
}

/*styles-olivia-cole*/

.testimonials-block {

}


.testimonials-title {
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #ABD9D9;
	width: 166px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}


.testimonials-text {
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 700;
	font-size: 57px;
	line-height: 100%;
	text-align: center;
	text-transform: capitalize;
	color: #FFFFFF;
	width: 566px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 64px;
}


.olivia-cole-wrap {
	display: flex;
	text-align: center;
}

.olivia-cole-block {
	width: 400px;
	background: rgba(255, 255, 255, 0.08);
	border-radius: 20px;	
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 53px;
	position: relative;
	margin-bottom: 7px;
}



.olivia-cole-img {
	margin-top: 52px;
	margin-bottom: 20px;
	mix-blend-mode: luminosity;

}

.olivia-cole-img img {
	width: 109px;
}

.olivia-cole-title {
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
	width: 145px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 37px;
}

.olivia-cole-text {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 119%;
	text-align: center;
	color: #FFFFFF;
	width: 355px;
	margin-left: auto;
	margin-right: auto;
}


.dots-wrap {
	display: flex;
	justify-content: center;
	margin-bottom: 66px;
}

.dots {
	width: 35px;
	height: 8px;
	background: #ABD9D9;
	border-radius: 35px;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
	transition: 1.3s;
}

.dots:hover {
	background: rgba(171, 217, 217, 0.6);
}

/*styles-are-you-ready*/

.are-you-ready-wrap {
	background: linear-gradient(277.91deg, #ABD9D9 0.87%, #ABD9D9 0.87%, #ABD9D9 0.88%, #5151C6 103.43%);
	border-radius: 30px;
	padding-top: 50px;
	padding-bottom: 51px;
}

.are-you-ready-title {
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #000000;
	width: 194px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 36px;
}

.are-you-ready-text {
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 700;
	font-size: 57px;
	line-height: 100%;
	text-align: center;
	text-transform: capitalize;
	color: #FFFFFF;
	width: 518px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 48px;
}

.are-you-ready-button-wrap {
	display: flex;
	justify-content: center;
}

.are-you-ready {
	padding: 22px 86px 22px 86px;
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #000000;
	border-radius: 83px;
	border: none;
	transition: 1.3s;
}

.are-you-ready:hover {
	border: none;
	color: #000;
	background: linear-gradient(277.91deg, #ABD9D9 0.87%, #ABD9D9 0.87%, #ABD9D9 0.88%, #5151C6 103.43%);
}

/*footer-styles*/

.krypto-footer-wrap {
	display: flex;
	flex-wrap: wrap;
	padding-top: 90px;
}

.krypto-footer-img {
	margin-top: 11px;
}

.krypto-footer-nav {
	margin-left: 133px;
}



.krypto-footer-nav ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}



.krypto-footer-nav a {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 31px;
	color: #FFFFFF;
	text-decoration: none;
}

.krypto-footer-nav a:hover {
	text-decoration: underline;
	color: #939393;
}



.krypto-footer-market {
	margin-left: 144px;
}

.krypto-footer-market {

}

.krypto-footer-markets a {
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}



.krypto-footer-market ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}



.krypto-footer-market a {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 31px;
	color: #FFFFFF;
	text-decoration: none;
}

.krypto-footer-contact {
	margin-left: 114px;
}

.krypto-footer-market a:hover {
	text-decoration: underline;
	color: #939393;
}


.krypto-footer-contact ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}



.krypto-footer-contact a {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 31px;
	color: #FFFFFF;
	text-decoration: none;
}

.krypto-footer-contact a:hover {
	text-decoration: underline;
	color: #939393;
}

.krypto-footer-email-adress {
	margin-left: 136px;
}

.join-our {
	font-family: 'Outfit';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 28px;
	color: #FFFFFF;
	margin-bottom: 10px;
}



.krypto-footer-email-adress ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.krypto-footer-email-adress a {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 31px;
	color: #FFFFFF;
	opacity: 0.67;
	text-decoration: none;
}

.krypto-footer-form {

}

.krypto-footer-form input {
	width: 400px;
}

.form-footer {
 display: flex;
 background: #13124F;
 border-radius: 70px;
 margin-top: 23px;
}


.form-footer input {
 background: #13124F;
 border-radius: 70px;
 color: #fff;
 padding-left: 32px;
 padding-right: 32px;
 border: none;
 outline: none;

}

.form-footer button {
 position: relative;
 background: #8D8DDA;
 border-radius: 83px;
 padding: 10px 39px 10px 39px;
 border: none;
}

.footer-button {
	 font-family: 'Outfit';
	 font-style: normal;
	 font-weight: 600;
	 font-size: 14px;
	 line-height: 28px;
	 padding: 13px 44px 13px 0px;
	 letter-spacing: 0.1em;
	 text-transform: uppercase; 
	 color: #FFFFFF;
	 flex: none;
	 order: 0;
	 flex-grow: 0;
}


.popup-form-wrap {
	width: 600px;
	background: #E0FFFF;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.popup-form-title {
	text-transform: uppercase;
	font-family: Roboto;
	font-weight: 700;
	font-size: 20px;
	color: #000;
	margin-bottom: 10px;
}

.popup-form-input {
	padding: 10px 25px 10px 25px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 35px;
	border: none;
	outline: none;
	margin-bottom: 15px;
}

.popup-form-button-wrap {
	padding-bottom: 15px;
}

.popup-form-button {
	padding: 10px 25px 10px 25px;
	border-radius: 35px;
	border: none;
	text-transform: uppercase;
	background: #483D8B;
	color: #fff;
}

.popup-form-button:hover {
	background: #4B0082;
	color: #fff;
}

.popup-form-wrap.opened {
	display: block;
	position: fixed;
	top: 30%;
	left: 33%;
}

.popup-form-wrap {
	display: none;
}

.popup-form-close {
	position: absolute;
	left: 97%;
	top: -3%;
}

.opacity-body {
	position: relative;
	background: #000;
	opacity: 0.3;
}
